@define-color foreground #FDF9F7;
@define-color background #150A05;
@define-color primary #D8C255;
@define-color secondary #081921;
@define-color accent #2D47C8;

* {
	border-radius: 0;
	border: none;
	color: @foreground;
}

window {
	background-color: @secondary;
	font-family: 'JetBrainsMonoNerdFont';
}

#outer-box {
	padding: 10px;
	border: 2px solid @primary;
}

#inner-box {
	padding-top: 15px;
}

#input {
	background-color: @background;
	border: none;
	padding: 7px;
	margin-bottom: 10px;
}

#entry {
	padding: 7px;
	padding-left: 15px;
	margin-top: 0;
}

#entry:selected {
	background-color: @primary;
}

#text:selected {
	border: none;
	color: @background;
}